@import "colors";
@import "mixins";
@import "null";

$fontFamily: "Inter", sans-serif;

body {
  font-family: $fontFamily;
}

h1 {
  font-weight: 500;
}

.container {
  width: 100%;
  height: calc(100vh - 37px);
}

.top-menu {
  padding: 10px 20px;
  display: flex;
  border-bottom: 1px solid #3369f3;
  height: 37px;
}
.top-menu__item {
  display: block;
  padding: 0 10px;
  color: #3369f3;
  cursor: pointer;
}
@import "form";
